<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="{{ site.root }}/css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="{{ site.root }}/css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
	  <link rel="stylesheet" href="{{ site.root }}/css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<title>{{ page.title }}</title>
</head>
<body>
	<div class="container">
		<div class="span-24">
			<img src="{{site.root}}/pbe.jpg" alt="PushButton Engine">
		</div>

		<div class="span-18">
			{{ content }}
		</div>

		<div class="span-6 last">
			<h3><a href="{{ site.root }}/">Home</a></h3>
			<h3><b>Documentation</b> <a href="{{ site.root }}/v1/">Version 1</a> | <a href="{{ site.root }}/v2/">Version 2</a></h3>
			<h3><b>Source Code</b> <a href="https://github.com/PushButtonLabs/PushButtonEngine">Version 1</a> | <a href="https://github.com/PushButtonLabs/PushButtonEngine/tree/PBE2">Version 2</a></h3>
		</div>


		<div class="span-24">
			<center>
			<i>(c) 2011 PushButton Labs LLC - Generated {{site.time}}</i>
			</center>
		</div>
	</div>
</body>
</html>